<app-nav-bar></app-nav-bar>
<wp-button></wp-button>
<div class="contenedor-general">
  <div class="cont-princ">
    <div class="title">
        <p class="Responsabilidad tracking-in-expand-forward-top">Responsabilidad Social</p>
    </div>
  </div>

  <div class="contenedor-rse">
    <h2 class="titulo-seccion blinking-title">Justicia con Conciencia Social</h2>
    <p class="intro-rse">
      En <strong>Estudio Jurídico Utrera & Asociados</strong>, concebimos el ejercicio del derecho como una vocación al servicio del bien común. Nuestra Responsabilidad Social (RS) forma parte esencial de nuestra identidad institucional, integrando principios éticos, compromiso social y sostenibilidad en todas nuestras áreas de actuación.
    </p>

    <div class="items-rse">
      <div class="item-rse">
        <h3 class="title">• Asesoramiento jurídico pro bono</h3>
        <p class="info">Nos comprometemos activamente en la defensa de los derechos de sectores vulnerables, brindando orientación y representación legal gratuita en casos de interés público.</p>
      </div>
      <div class="item-rse">
        <h3 class="title">• Inclusión, equidad y diversidad</h3>
        <p class="info">Fomentamos un entorno inclusivo, respetuoso y plural, donde se valore la diversidad como pilar de crecimiento profesional y se garantice la equidad de oportunidades.</p>
      </div>
      <div class="item-rse">
        <h3 class="title">• Prácticas sostenibles</h3>
        <p class="info">Implementamos procesos conscientes que reducen nuestro impacto ambiental, como la digitalización de expedientes, la gestión responsable de recursos y la reducción del uso de papel.</p>
      </div>
      <div class="item-rse">
        <h3 class="title">• Vinculación con la comunidad</h3>
        <p class="info">Colaboramos con instituciones educativas, ONGs y redes de voluntariado para fortalecer el tejido social y contribuir de manera activa al desarrollo de nuestra comunidad.</p>
      </div>
      <div class="item-rse">
        <h3 class="title">• Accesibilidad</h3>
        <p class="info">Queremos que el derecho sea comprensible y cercano para todos, no solo para especialistas.</p>
      </div>
    </div>

    <div class="cont-justicia">
      <p class="titulo-justicia">Caminamos hacia una justicia más humana</p>
      <p>Desde nuestro lugar, buscamos generar un impacto legal positivo. Porque creemos que el Derecho no solo debe resolver conflictos, sino también construir comunidad, equidad y dignidad.</p>
    </div>

    <!-- Contacto rápido -->
    <div class="ayuda-contacto">
      <p style="color: grey;">¿Seguís con dudas?</p>
      <a href="https://wa.me/5491133780444?text=Hola%2C%20me%20gustar%C3%ADa%20obtener%20m%C3%A1s%20informaci%C3%B3n%20sobre%20sus%20servicios." target="_blank" class="btn-ayuda">💬 Contactanos por WhatsApp</a>
    </div>
  </div>
  <caratula-foot></caratula-foot>
</div>
<app-footer></app-footer>
