<footer class="footer">
    <div class="footer-container">
      <div class="footer-section">
        <img class="logo-uc" src="UC-.png" alt="">
        <p class="title redes">Redes Sociales</p>
        <ul class="social-links">
          <div class="ig icono">
            <li class="redes-sociales"><a href="https://www.instagram.com/tuempresa" target="_blank"><img class="logo logo-ig" src="ig.png" alt="Instagram"></a></li>
          </div>
          <div class="wpp icono">
            <li class="redes-sociales"><a href="https://wa.me/+5491133780444" target="_blank"><img class="logo logo-wpp" src="wpp.png" alt="WhatsApp"></a></li>
          </div>
          <div class="mail icono">
            <li class="redes-sociales"><a href="mailto:estudiojuridicoutrera@gmail.com" target="_blank">
              <img class="logo logo-mail" src="mail.png" alt="e-mail"></a></li>
          </div>
        </ul>
      </div>
      <div class="footer-section">
        <p class="title">Información</p>
        <ul>
          <li class="info"><a href="/about-us">Acerca de Nosotros</a></li>
          <li class="info"><a href="/services">Nuestros Servicios</a></li>
          <li class="info"><a href="/privacy-policy">Política de Privacidad</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2025 Carolina Utrera. Todos los derechos reservados.</p>
    </div>
  </footer>
  