<footer class="footer">

  <div class="footer-cu">
    <img class="logo-uc" src="CU-.png" alt="logo" loading="lazy">
    <img class="logo-uc" src="simbolo-wb.png" alt="logo" loading="lazy">
  </div>

  <div class="footer-animation-wrapper">
    <div class="cont-track  tracking-in-expand-forward-bottom">
      <div class="footer-section-redes">
        <div class="d-flex line"><div class="line-redes"></div></div>
          <div class="footer-redes">
            <a class="red" href="https://www.instagram.com/_utrera_c/" target="_blank"><img class="logo logo-ig" src="ig.png" alt="Instagram" loading="lazy"></a>
            <a class="red" href="https://wa.me/+5491133780444?text=Hola,%20me%20gustaría%20obtener%20más%20información." target="_blank"><img class="logo logo-wpp" src="wpp.png" alt="WhatsApp" loading="lazy"></a>
            <a class="red" href="mailto:estudiojuridicoutrera@gmail.com?subject=Consulta&body=Hola,%20quisiera%20más%20información%20sobre%20sus%20servicios." target="_blank"><img class="logo logo-mail" src="mail.png" alt="e-mail" loading="lazy"></a>
          </div>
        <div class="d-flex line"><div class="line-redes"></div></div>
      </div>
      <div class="footer-container">
        <div class="footer-section">
          <div class="title">
            <p>Ayuda</p>
          </div>
          <div class="lista">
            <ul>
              <a routerLink="/ayuda"><li>Necesitas ayuda?</li></a>
            </ul>
          </div>
        </div>

        <div class="footer-section">
          <div class="title">
            <p>Profesionales</p>
          </div>
          <div class="lista">
            <ul>
              <a routerLink="/profesionales" routerLinkActive="active"><li>Nuestros Profesionales</li></a>
            </ul>
          </div>
        </div>

        <div class="footer-section">
          <div class="title">
            <p>Nosotros</p>
          </div>
          <div class="lista">
            <ul>
              <a routerLink="/mision-y-valores"><li>Misión & Valores</li></a>
              <a routerLink="/responsabilidad-social"><li>Responsabilidad Social</li></a>
              <a routerLink="/nosotros"><li>Compromiso con el Cliente</li></a>
            </ul>
          </div>
        </div>

        <div class="footer-section">
          <div class="title">
            <p>Aviso Legal</p>
          </div>
          <div class="lista">
            <ul>
              <a routerLink="/politica-privacidad"><li>Politica de Privacidad</li></a>
              <a routerLink="/avisoLegal"><li>Aviso Legal</li></a>
            </ul>
          </div>
        </div>

        <div class="footer-section">
          <div class="title">
            <p>Contacto</p>
          </div>
          <div class="lista">
            <ul>
              <a href="/contacto"><li>Comunicate con nosotros</li></a>
            </ul>
          </div>
        </div>

      </div>
      <div class="footer-bottom">
        <p>&copy; 2025 UtreraC & Asociados. Todos los derechos reservados.</p>
      </div>
    </div>
  </div>

  </footer>
