<footer class="footer">
  
  <div class="footer-cu">
    <img class="logo-uc" src="CU-.png" alt="">
    <img class="logo-uc" src="simbolo-wb.png" alt="">
  </div>
  <div class="footer-section-redes">
    <div class="d-flex line"><div class="line-redes"></div></div>
    <div class="footer-redes">
      <a class="red" href="https://www.instagram.com/" target="_blank"><img class="logo logo-ig" src="ig.png" alt="Instagram"></a>
      <a class="red" href="https://wa.me/+5491133780444" target="_blank"><img class="logo logo-wpp" src="wpp.png" alt="WhatsApp"></a>
      <a class="red" href="mailto:estudiojuridicoutrera@gmail.com" target="_blank"><img class="logo logo-mail" src="mail.png" alt="e-mail"></a>
    </div>
    <div class="d-flex line"><div class="line-redes"></div></div>
  </div>
    <div class="footer-container">
      <div class="footer-section">
        <div class="title">
          <p>Ayuda</p>
        </div>
        <div class="lista">
          <ul>
            <a href=""><li>Necesitas ayuda?</li></a>
          </ul>
        </div>
      </div>

      <div class="footer-section">
        <div class="title">
          <p>Profesionales</p>
        </div>
        <div class="lista">
          <ul>
            <a routerLink="/profesionales" routerLinkActive="active"><li>Nuestros Profesionales</li></a>
            <a href=""><li>Responsabilidades</li></a>
          </ul>
        </div>
      </div>

      <div class="footer-section">
        <div class="title">
          <p>Nosotros</p>
        </div>
        <div class="lista">
          <ul>
            <a href=""><li>Valores y Misión</li></a>
            <a href=""><li>Responsabilidad Social</li></a>
            <a href=""><li>Compromiso con el Cliente</li></a>
          </ul>
        </div>
      </div>

      <div class="footer-section">
        <div class="title">
          <p>Aviso Legal</p>
        </div>
        <div class="lista">
          <ul>
            <a href=""><li>Politica de Privacidad</li></a>
            <a href="/avisoLegal"><li>Aviso Legal</li></a>
          </ul>
        </div>
      </div>

      <div class="footer-section">
        <div class="title">
          <p>Contacto</p>
        </div>
        <div class="lista">
          <ul>
            <a href=""><li>Comunicate con nosotros</li></a>
          </ul>
        </div>
      </div>

    </div>
    <div class="footer-bottom">
      <p>&copy; 2025 Carolina Utrera. Todos los derechos reservados.</p>
    </div>
  </footer>
  

  <!-- 
  
<p class="title redes">Redes Sociales</p>
  <ul class="social-links">
    <div class="ig icono">
      <li class="redes-sociales"><a href="https://www.instagram.com/" target="_blank"><img class="logo logo-ig" src="ig.png" alt="Instagram"></a></li>
    </div>
    <div class="wpp icono">
      <li class="redes-sociales"><a href="https://wa.me/+5491133780444" target="_blank"><img class="logo logo-wpp" src="wpp.png" alt="WhatsApp"></a></li>
    </div>
    <div class="mail icono">
      <li class="redes-sociales"><a href="mailto:estudiojuridicoutrera@gmail.com" target="_blank">
        <img class="logo logo-mail" src="mail.png" alt="e-mail"></a></li>
    </div>
  </ul> -->