html {
    scroll-behavior:smooth;
  }
.cont-global{
    width: 100%;
    height: auto;
}

.cont-padding{
    height: 100%;
    padding: 50px;
}

.cont-princ{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.96), rgba(0, 0, 0, 0.658)), url(../../../../public/bg-foot.jpg);
    background-position: top;
    background-size: cover;
    width: 100%;
    height: 70vh;
}

.title{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.profesionales{
    border-top: 2px solid rgb(60, 56, 30);
    color: white;
    font-size: 50px;
    margin-left: 12%;
    padding-right: 105px;
}

.cont-info {
    width: 100%;
    min-height: 350px;
    display: flex;
}

.cont-info-p {
    width: 80%;
    padding-bottom: 55px;
}

.abog {
    padding-bottom: 30px;
    font-size: 28px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.p-t {
    padding-top: 50px;
}

.info {
    font-family: "Nunito Sans", sans-serif;
    font-size: 18px;
    color: black;
    font-weight: 400;
    font-optical-sizing: auto;
    padding-bottom: 15px;
    text-align: justify;
}

.linea {
    width: 15%;
    background-color: rgb(159, 137, 84);
    height: 60%;
    margin-bottom: 25px;
}
.linea-d {
    width: 15%;
    background-color: rgb(96, 96, 96);
    height: 60%;
    margin-top: 25px;
}
.linea-der {
    width: 100%;
    height: 1%;
    display: flex;
    align-items: end;
    justify-content: end;
    margin-bottom: 55px;
}
.linea-izq {
    width: 100%;
    height: 1%;
    display: flex;
    align-items: end;
    margin-top: 50px;
}

.mail {
    font-weight: 700;
    color: rgb(0, 0, 0);
}
.cont-p {
    width: 100%;
    font-size: 22px;
    font-family: "Nunito Sans", sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ul {
    font-size: 18px;
    list-style: none;
}

/* CONT IMAGENES */
.cont-images {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont-img {
    width: 70%;
    padding: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 100px;
}
.img-prof{
    height: 350px;
    display: flex;
    opacity: 3;
}

.cont-span {
    position: relative;
    display: inline-block;
    transition: all ease 1s;
}
.cont-span:hover {
    transform: scale(1.1);
}

.hover-info {
    bottom: 0;
    position: absolute;
    display: flex;
    align-items: end;
    justify-content: center;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom,rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.907));
    color: white;
    border-radius: 5px;
    font-size: 14px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0.3s ease-in-out;
    font-size: 18px;
    color: rgb(205, 200, 193);
    font-family: "Nunito Sans", sans-serif;
}

.cont-span:hover .hover-info {
    opacity: 1;
    visibility: visible;
}


/* ----------------------------------------------
  Generated by AnimatiSS
  Licensed under FreeBSD License
  URL: https://xsgames.co/animatiss
  Twitter: @xsgames_
---------------------------------------------- */

.tracking-in-expand-forward-top {
    animation:tracking-in-expand-forward-top 0.9s linear both
} @keyframes tracking-in-expand-forward-top{
    0%{
        letter-spacing:-.2em;
        transform:translateZ(-700px) translateY(-100px);
        opacity:0}
    40%{
        opacity:.6
    }
    100%{
        transform:translateZ(0) translateY(0);
        opacity:1
    }}

@media screen and (max-width: 900px) {
    .cont-padding {
        padding: 20px 0;
    }
    .linea {
        width: 35%;
        background-color: rgb(159, 137, 84);
        height: 40%;
        margin-bottom: 25px;
    }
    .linea-d {
        width: 35%;
        background-color: rgb(96, 96, 96);
        height: 40%;
        margin-top: 25px;
    }
}
