<div class="cont-princ">
  <div class="texto">
    <div class="cont-p">
      <img class="uc scale-up-center" src="simbolo-wb.png" alt="">
      <div class="cont-asoc">
        <p class="scale-up-center">Estudio juridico Utrera </p>
        <p class="asoc scale-up-center"> & asociados -</p>
      </div>
    </div>
    <div class="cont-line">
      <p class="phrase">Estrategia, confianza y resultados.</p>
      <p class="phrase">Tu tranquilidad, nuestra prioridad jurídica.</p>
    </div>
  </div>
  <swiper-container id="swiper-container"
    slides-per-view="1"
    loop="true"
    autoplay-delay="3000"
    speed="1200"
    effect="fade"
    class="swiper-container"
  >
  <swiper-slide class="slide">
    <img src="divorce.jpg" alt="Balanza">
  </swiper-slide>
  <swiper-slide class="slide">
    <img src="edificio.jpg" alt="Cerrar">
  </swiper-slide>
  <swiper-slide class="slide">
    <img src="court-mar.jpg" alt="Abogacía">
  </swiper-slide>
  <swiper-slide class="slide">
    <img src="saludo.jpg" alt="Lawyer">
  </swiper-slide>
  </swiper-container>
</div>
