<app-nav-bar #menu/>
<app-principal></app-principal>

<div class="main">
    <section class="first-section" #firstSection>
        <div class="info">
            <h1 class="heading-1">Estudio Jurídico Utrera – Compromiso, Confianza y Experiencia</h1>
            <p class="paragraph">brindamos asesoramiento legal integral con un enfoque personalizado. Nuestro compromiso es defender tus derechos con seriedad, ética y experiencia, construyendo relaciones basadas en la confianza y los resultados.</p>
            <a href="" class="btn btn--start">Comunicate con nosotros!</a>
        </div>
        <div class="visuals">
            <div class="image-container">
                <img #imageFirst src="lawyer.jpg" alt="">
            </div>
            <div class="image-container">
                <img #imageSecond src="lawyer-2.jpg" alt="">
            </div>
        </div>
    </section>
    <section class="second-section" #secondSection>
        <div class="box"></div>
        <h4 class="heading-4" id="about">Nostros</h4>
        <h1 class="heading-1" id="contract">Defendiendo Tus Derechos con Compromiso, Protegiendo Tu Futuro con Experiencia</h1>
        <div class="info-1">
            <div class="info-1__text">
                <span class="quote">
                    "
                </span>
                <h2 class="heading-3">
                    Asesoramiento Legal Especializado para Resolver sus Desafíos Jurídicos.
                </h2>
                <p class="paragraph">
                    En Utrera, entendemos que cada caso es único y personal. Nos especializamos en brindar asesoramiento legal integral con un enfoque cercano y profesional, priorizando siempre los derechos y necesidades de nuestros clientes.
                </p>
            </div>
            <div class="info-1__visual">
                <img src="lawyer3.jpg" alt="">
            </div>
        </div>
    </section>
</div>

<app-footer/>

  