<app-nav-bar #menu/>
<app-principal></app-principal>
<wp-button></wp-button>
<div class="main">
    <section class="first-section" #firstSection data-aos="fade-up">
        <div class="info" data-aos="fade-right" data-aos-delay="200">
            <h1 class="heading-1">Estudio Jurídico Utrera – Compromiso, Confianza y Experiencia</h1>
            <p class="paragraph">Brindamos asesoramiento legal integral con un enfoque personalizado. Nuestro compromiso es defender tus derechos con seriedad, ética y experiencia, construyendo relaciones basadas en la confianza y los resultados.</p>
            <a href="https://wa.me/5491133780444?text=Hola, me gustaría obtener más información sobre sus servicios." class="btn btn--start" target="_blank" data-aos="zoom-in" data-aos-delay="400">Comunicate con nosotros!</a>
        </div>
        <div class="visuals" data-aos="fade-left" data-aos-delay="300">
            <div class="image-container">
                <img #imageFirst src="lawyer.jpg" alt="imagen1" loading="lazy">
            </div>
            <div class="image-container">
                <img #imageSecond src="lawyer-2.jpg" alt="imagen2" loading="lazy">
            </div>
        </div>
    </section>
    <section class="second-section" #secondSection data-aos="fade-up" data-aos-delay="400">
        <div class="box"></div>
        <h4 class="heading-4" id="about">Nosotros</h4>
        <h1 class="heading-1" id="contract">Defendiendo tus derechos con Compromiso, protegiendo tu futuro con Experiencia</h1>
        <div class="info-1">
            <div class="info-1__text" data-aos="fade-right">
                <span class="quote">
                    "
                </span>
                <h2 class="heading-3">
                   Asesoramiento legal especializado para resolver sus desafíos jurídicos.
                </h2>
                <p class="paragraph ph">
                    En Utrera, entendemos que cada caso es único y personal. Nos especializamos en brindar asesoramiento legal integral con un enfoque cercano y profesional, priorizando siempre los derechos y necesidades de nuestros clientes.
                </p>
            </div>
            <div class="info-1__visual">
                <img src="lawyer3.jpg" alt="lawyer">
            </div>
        </div>
    </section>

</div>

  <section class="services-section">
    <div class="section-header">
      <h2>Áreas de práctica</h2>
    </div>
    <div class="cards-container">
      <div class="service-card" *ngFor="let service of services"  data-aos="fade-right" data-aos-delay="200">
        <div class="card-image" [ngStyle]="{ 'background-image': 'url(' + service.image + ')' }"></div>
        <div class="card-overlay">
            <h3>{{ service.title }}</h3>
            <p>{{ service.description }}</p>
        </div>
      </div>
    </div>
  </section>



<app-footer/>

