@if(!modalIsOpen){
    <a (click)="openModal()" class="whatsapp-button button">
        <div class="whatsapp-content">
            <img src="whatsapp-icon.png" alt="WhatsApp" class="whatsapp-logo" loading="lazy"/>
          </div>
    </a>
}

  @if(modalIsOpen){
    <div class="modal-overlay" [ngClass]="{'open': modalIsOpen}">
        <div class="modal-body" [ngClass]="{'open': modalIsOpen}">
            <div class="cont-encabezado-modal">
                <img src="wpp-logo-escrito.png" alt="WhatsApp" class="wpp-logo" loading="lazy"/>
                <div class="btn-danger"  (click)="closeModal()">
                    <img src="cerrar.png" class="cerrar" loading="lazy"/>
                </div>
            </div>
            <div class="cont-info-wpp">
                <div class="chat-window" #chatContainer>
                  <div *ngFor="let msg of chatHistory" [ngClass]="msg.sender">
                    <p>{{ msg.text }}</p>
                  </div>
                </div>
                <div class="quick-answers" *ngIf="!userReplied">
                  <div class="chat-option" (click)="sendMessage('turno')">Horarios de atención</div>
                  <div class="chat-option" (click)="sendMessage('consultas')">Hacer una consulta</div>
                  <div class="chat-option" (click)="sendMessage('abogados')">Conocer al equipo</div>
                  <div class="chat-option" (click)="sendMessage('honorarios')">¿Cuáles son los honorarios de consulta?</div>
                  <div class="chat-option" (click)="sendMessage('atencion')">¿Brindan atención online o presencial?</div>
                </div>

                <div class="cont-info" *ngIf="userReplied">
                  <p>{{ chatAnswer }}</p>
                  <button class="btn-volver" (click)="backToOptions()">Volver</button>
                </div>
            </div>
            <div class="cont-btns">
                <a href="https://wa.me/5491133780444?text=Hola%2C%20me%20gustar%C3%ADa%20obtener%20m%C3%A1s%20informaci%C3%B3n%20sobre%20sus%20servicios." target="_blank" class="btn btn-success chat-btn">
                    <span class="content text">Abrir Chat</span>
                    <img width="35" height="35" class="content icon" src="enviar.png" alt="sent" loading="lazy"/>
                  </a>

            </div>

          </div>
    </div>
  }
