<app-nav-bar></app-nav-bar>
<div class="cont-global">
    <div class="cont-princ">
        <div class="title">
            <p class="profesionales">Equipo profesional</p>
        </div>
    </div>
    <div class="cont-padding">
        <div class="cont-info legal">
            <div class="cont-p">
                <div class="cont-titulo">
                    <div class="cont-join">
                        <p class="titulo">Nuestra Firma, Su Mejor Defensa</p>
                        <span class="material-symbols-outlined">
                            arrow_forward_ios
                        </span>
                    </div>
                </div>
                <div class="cont-info-p">
                    <p class="abog">Abogados y Peritos: Un Enfoque Integral</p>
                    <p class="info">
                        En <b style="font-weight: bolder;">Utrera & asoc.</b>, contamos con un equipo multidisciplinario conformado por abogados altamente calificados y peritos con una amplia trayectoria en sus respectivas áreas de especialización. Esta sinergia entre el conocimiento jurídico y el análisis técnico nos permite abordar cada caso con una visión integral, ofreciendo soluciones estratégicas y eficaces a nuestros clientes.
                    </p> <br>
                    <p class="info">
                        En nuestro estudio jurídico, contamos con un equipo multidisciplinario compuesto por abogados altamente capacitados y peritos con amplia experiencia en sus respectivas áreas. Esta combinación de conocimientos y especialidades nos permite ofrecer un servicio integral y estratégico, abordando cada caso desde una perspectiva legal y técnica para brindar soluciones eficaces y personalizadas.
                    </p> <br>
                    <p class="info">
                        Nuestros abogados poseen una sólida formación académica y una destacada experiencia en diversas ramas del derecho, incluyendo derecho civil, penal, laboral, comercial y corporativo. Complementando este enfoque, nuestros peritos expertos en disciplinas como contabilidad forense, valuación de bienes, criminología y otras áreas clave aportan un análisis técnico preciso y fundamentado, garantizando una defensa y asesoramiento de la más alta calidad.
                    </p> <br>
                    <p class="info">
                        En <b style="font-weight: bolder;">Utrera & asoc.</b>, nos regimos por los principios de transparencia, ética y compromiso, trabajando en estrecha colaboración con nuestros clientes para ofrecerles un acompañamiento cercano y una estrategia jurídica adaptada a sus necesidades. Nos especializamos en la resolución eficiente de conflictos legales, brindando asesoramiento preventivo y representación integral en cada instancia del proceso.
                    </p> <br>
                    <p class="info">
                        Nuestra misión es proporcionar un servicio jurídico de excelencia, basado en el rigor técnico y la experiencia, con el objetivo de proteger los derechos e intereses de quienes confían en nosotros.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="cont-images">
        <div class="cont-img">
            <div class="cont-span">
                <img class="img-prof" src="fp-pr.jpg" alt="profesionals">
                <span class="hover-info">Información profesional</span>
            </div>
            <div class="cont-span">
                <img class="img-prof" src="library.jpg" alt="library">
                <span class="hover-info">Biblioteca jurídica y recursos</span>
            </div>
            <div class="cont-span">
                <img class="img-prof" src="wom-lawyer.jpg" alt="women">
                <span class="hover-info">Liderazgo en derecho</span>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>