.header{
    width: 100%;
    height: 80px;
    display: flex;
    position: fixed;
    z-index: 999;
    transition: all 0.7s ease;
}

.cont-header{
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(0, 0, 0), rgba(29, 29, 29, 0));
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.7s ease;
}

.cont-img{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.anchor{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
}

img{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 100%;
    padding: 5px 5px 5px 30px;
}
.utre{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    cursor: pointer;
    transition: all 0.7s ease;
}

.imgLogo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    cursor: pointer;
    transition: all 0.7s ease;
}

.cont-pagination{
    display: flex;
    padding-right: 60px;
    text-decoration: none;
}

.cont-ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    list-style: none;
    text-decoration: none;
}

.con-items{
    padding-right: 20px;
    text-decoration: none;
}

.lista{
    padding: 15px;
    color: black;
    font-size: 18px;
    transition: all ease 0.3s;
    cursor: pointer;
    color: white;
    list-style: none;
    text-decoration: none;
}

.active{
    text-decoration: none;
    list-style: none;
    border-bottom: 0.3px solid rgb(181, 181, 181);
}
a{
    text-decoration: none;
}

.lista:hover{
    color: rgb(214, 214, 214);
    border-bottom: 0.3px solid rgb(181, 181, 181);
}

.cont-search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-right: 25px;
    padding-left: 25px;
}

/* SCROLLY */

header.abajo{
    width: 100%;
    height: 60px;
    background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0));
    display: flex;
    justify-content: center;
    transition: all 0.7s ease;
}

header.abajo .imgLogo {
    height: 70px;
  }

header.abajo ul{
    display: none;
}

header.abajo .cont-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 5px;
}

header.abajo .cont-search{
    display: none;
}

.utre {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  color: rgb(212, 212, 212);
}

header.abajo .utre {
  opacity: 1;
}

/* Hamburguesa dentro del header */
.menu-hamburguesa {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: white;
    padding-right: 25px;
    padding-bottom: 5px;
    z-index: 1000;
  }

  .cont-menu-desp {
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
  }
  .estudio-sp {
    border-left: 1px solid rgb(181, 181, 181);
    font-size: 20px;
    padding-left: 20px;
  }
  .img-cont-menu-resp {
    width: 100px;
    height: auto;
    padding-top: 0;
    padding-right: 0;
  }

  .cont-x {
    display: flex;
    width: 100%;
    color: white;
    justify-content: start;
  }
  .cont-x p {
    padding: 20px 0 0 0;
    font-size: 25px;
    font-family: "Nunito Sans", sans-serif;
    cursor: pointer;
  }


  .menu-responsive {
      display: flex;
      flex-direction: column;
      background-color: #222222;
      position: fixed;
      right: 0;
      width: 80%;
      height: 100%;
      z-index: 1000;
      padding-inline: 15px;
      transform: translateX(100%);
      transition: transform 0.6s ease-in;
      gap: 20px;
      box-sizing: border-box;
    }

    .menu-responsive.abierto {
        transform: translateX(0);
    }

    .cont-ul-resp {
      display: flex;

    }

    .menu-responsive ul {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        padding: 0;
        padding-top: 10px;
        gap: 15px;
    }

    .menu-responsive li {
        font-size: 20px;
        font-family: "Nunito Sans", sans-serif;
        padding-bottom: 5px;
        border-bottom: 1px solid rgb(71, 71, 71);
    }

    .menu-responsive a {
    color: white;
    text-decoration: none;
    }

  .fondo-overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: rgba(0, 0, 0, 0.63);
      z-index: 999;
    }


    @media screen and (max-width: 900px) {
      .cont-pagination {
        display: none;
      }

      .menu-hamburguesa {
        display: block;
        z-index: 1000;
      }
    }
