<div class="header">
    <header class="cont-header">
        <div class="cont-img">
            <a class="anchor" routerLink="/home" routerLinkActive="act">
                <img src="CU-.png" alt="shutter" class="imgLogo">
                <p class="utre">UTRERA</p>
            </a>
        </div>

        <div class="cont-pagination">
            <div class="cont-items">
                <ul class="cont-ul">
                    <a routerLink="/profesionales" routerLinkActive="active">
                        <li class="lista">Equipo</li>
                    </a>
                    <a routerLink="/nosotros" routerLinkActive="active">
                        <li class="lista">Nosotros</li>
                    </a>
                    <a routerLink="/contacto" routerLinkActive="active">
                        <li class="lista">Contacto</li>
                    </a>
                </ul>
            </div>

        </div>

    </header>
</div>