<div class="header">
    <header class="cont-header">
        <div class="cont-img">
            <a routerLink="/home" routerLinkActive="active"><img src="CU-.png" alt="shutter" class="imgLogo"></a>
            <p class="utre">UTRERA</p>
        </div>

        <div class="cont-pagination">
            <div class="cont-items">
                <ul class="cont-ul">
                    <a routerLink="/home" routerLinkActive="active">
                        <li class="lista">Profesionales</li>
                    </a>
                    <a routerLink="/nosotros" routerLinkActive="active">
                        <li class="lista">Nosotros</li>
                    </a>
                    <a routerLink="/contacto" routerLinkActive="active">
                        <li class="lista">Contacto</li>
                    </a>
                </ul>
            </div>

        </div>

    </header>
</div>