<div class="header">
    <header class="cont-header">
        <div class="cont-img">
            <a class="anchor" routerLink="/home" routerLinkActive="act">
                <img src="CU-.png" alt="shutter" class="imgLogo" loading="lazy">
                <p class="utre">UTRERA</p>
            </a>
        </div>

        <div class="cont-pagination">
            <div class="cont-items">
                <ul class="cont-ul">
                    <a routerLink="/profesionales" routerLinkActive="active">
                        <li class="lista">Equipo</li>
                    </a>
                    <a routerLink="/nosotros" routerLinkActive="active">
                        <li class="lista">Nosotros</li>
                    </a>
                    <a routerLink="/contacto" routerLinkActive="active">
                        <li class="lista">Contacto</li>
                    </a>
                </ul>
            </div>

        </div>
        <div class="menu-hamburguesa" (click)="toggleMenu()">☰</div>
    </header>

    <nav class="menu-responsive" [class.abierto]="menuAbierto">
        <div class="cont-x">
          <p (click)="cerrarMenu()">x</p>
        </div>
        <div class="cont-menu-desp">
          <p class="menu">Menú</p>
        </div>
        <ul>
          <li><a routerLink="/profesionales" (click)="cerrarMenu()">Equipo</a></li>
          <li><a routerLink="/nosotros" (click)="cerrarMenu()">Nosotros</a></li>
          <li><a routerLink="/contacto" (click)="cerrarMenu()">Contacto</a></li>
        </ul>
      </nav>

      <div class="fondo-overlay" *ngIf="menuAbierto" (click)="cerrarMenu()"></div>
</div>
