/* You can add global styles to this file, and also import other style files */
@import "assets/leaflet/leaflet.css";
@import "assets/leaflet/fullscreen/Control.FullScreen.css";
@import "@ng-select/ng-select/themes/default.theme.css";


*{
  box-sizing: border-box;
    padding: 0;
    margin: 0;
}
