<app-nav-bar></app-nav-bar>
<wp-button></wp-button>
<div class="cont-global">
    <div class="cont-princ">
        <div class="title">
            <p class="aviso tracking-in-expand-forward-top">Aviso Legal</p>
        </div>
    </div>
    <div class="cont-padding">
        <div class="cont-info legal">
            <div class="cont-p">
                <p class="abog p-t">Aviso Legal y Responsabilidad Profesional</p><br>
                <p class="info">
                   <b style="font-weight: bolder;">Utrera & asoc.</b> pone a disposición de los visitantes de su sitio web cierta información y materiales con fines exclusivamente informativos. El contenido de este sitio no constituye, en modo alguno, asesoramiento legal, financiero, fiscal o de cualquier otra índole profesional. Si bien procuramos que la información publicada sea precisa, completa y actualizada, <b style="font-weight: bolder;">Utrera & asoc.</b> no garantiza la exactitud, integridad o actualidad de los contenidos y, en consecuencia, no asume responsabilidad alguna por errores u omisiones que pudieran existir.
                </p>
                <p class="info">
                    Los usuarios deben tener en cuenta que las normativas legales pueden cambiar y que la aplicabilidad de ciertas disposiciones depende de lascircunstancias específicas de cada caso. Por lo tanto, no se recomienda la toma de decisiones con base exclusiva en la información contenida en estesitio web sin consultar previamente con un profesional calificado.
                </p>
                <p class="info">
                    El acceso a este sitio web y el uso de su contenido son de exclusiva responsabilidad del usuario. <b style="font-weight: bolder;">Utrera & asoc.</b> no será responsable por cualquier daño, pérdida o perjuicio derivado del uso de la información proporcionada en este sitio, ni por eventuales problemas técnicos, interrupciones en el servicio o la presencia de virus informáticos que pudieran afectar los sistemas o dispositivos de los usuarios.
                    Asimismo, este sitio web puede contener enlaces a sitios externos de terceros, sobre los cuales <b style="font-weight: bolder;">Utrera & asoc.</b> no tiene control ni responsabilidad alguna respecto de su contenido, disponibilidad, exactitud o legalidad.
                </p>
                <p class="info">
                    El contenido de este sitio web, incluidos textos, diseños, logotipos, imágenes y cualquier otro material, está protegido por las leyes de propiedad intelectual y no podrá ser reproducido, distribuido o utilizado sin la autorización previa y expresa de <b style="font-weight: bolder;">Utrera & asoc.</b>
                    Para cualquier consulta o aclaración sobre este aviso legal, puede ponerse en contacto con nosotros a través del correo electrónico: <a class="mail" href="">estudiojuridicoutrera&#64;gmail.com</a>.
                </p>
            </div>
            <div class="cont-img">
                <img class="court-v" src="joinLaw.jpg" alt="court">
            </div>
        </div>
    </div>

    <caratula-foot></caratula-foot>
</div>
<app-footer></app-footer>
